[Unit]
Description=YugabyteDB Master server
Documentation=https://docs.yugabyte.com/stable/
After=network-online.target

[Service]
Type=simple
User=yugabyte
Group=yugabyte
ExecStart={{ yugabytedb_current_dir }}/bin/yb-master --flagfile {{ yugabytedb_config_dir }}/master.conf
TimeoutStartSec=30
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
